<?xml version='1.0' encoding='utf-8'?>
<widget id="com.juliacicale.floofer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Floofer</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icons/android/mipmap-ldpi/ic_launcher.png" />
        <icon density="mdpi" src="res/icons/android/mipmap-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="res/icons/android/mipmap-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="res/icons/android/mipmap-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="res/icons/android/mipmap-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="res/icons/android/mipmap-xxxhdpi/ic_launcher.png" />
        <splash density="land-ldpi" src="res/screen/android/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="res/screen/android/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="res/screen/android/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="res/screen/android/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="res/screen/android/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="res/screen/android/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="res/screen/android/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="res/screen/android/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="res/screen/android/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="res/screen/android/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="res/screen/android/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/drawable-port-xxxhdpi-screen.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="res/screen/ios/FlooferSplash@2x~universal~anyany.png" />
        <icon height="180" src="res/icons/ios/AppIcon.appiconset/Icon-App-60x60@3x.png" width="180" />
        <icon height="60" src="res/icons/ios/AppIcon.appiconset/Icon-App-60x60@1x.png" width="60" />
        <icon height="120" src="res/icons/ios/AppIcon.appiconset/Icon-App-60x60@2x.png" width="120" />
        <icon height="76" src="res/icons/ios/AppIcon.appiconset/Icon-App-76x76@1x.png" width="76" />
        <icon height="152" src="res/icons/ios/AppIcon.appiconset/Icon-App-76x76@2x.png" width="152" />
        <icon height="40" src="res/icons/ios/AppIcon.appiconset/Icon-App-40x40@1x.png" width="40" />
        <icon height="80" src="res/icons/ios/AppIcon.appiconset/Icon-App-40x40@2x.png" width="80" />
        <icon height="57" src="res/icons/ios/AppIcon.appiconset/Icon-App-57x57@1x.png" width="57" />
        <icon height="114" src="res/icons/ios/AppIcon.appiconset/Icon-App-57x57@2x.png" width="114" />
        <icon height="72" src="res/icons/ios/AppIcon.appiconset/Icon-App-72x72@1x.png" width="72" />
        <icon height="144" src="res/icons/ios/AppIcon.appiconset/Icon-App-72x72@2x.png" width="144" />
        <icon height="29" src="res/icons/ios/AppIcon.appiconset/Icon-App-29x29@1x.png" width="29" />
        <icon height="58" src="res/icons/ios/AppIcon.appiconset/Icon-App-29x29@2x.png" width="58" />
        <icon height="167" src="res/icons/ios/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png" width="167" />
    </platform>
    <platform name="browser">
        <preference name="ShowSplashScreen" value="false" />
    </platform>
    <engine name="android" spec="^6.3.0" />
    <engine name="browser" spec="^4.1.0" />
    <engine name="ios" spec="^4.5.2" />
    <plugin name="cordova-plugin-device" spec="^1.1.6" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
